<html>
<head>
    <center><h1>WELCOME TO HOME PAGE</h1></center>
</head>

<style>
body{

    background-image: url(../static/back.jpg);
    }




</style>


<BODY>

    <DIV>
<fieldset>
<center>
<a href="/reglink">Register Page</a><br><br>
<a href="/loginlink">Login Page</a><br><br>
<a href="/displaylink">Display Page</a><br><br>
</center>
</fieldset>
    </DIV>

<div>
    <fieldset>
            <form action="/savelink" method="POST">
            <label><b>Email Id:    </b></label>
            <input type="text" name="email" placeholder="Enter Email id" required><br><br><br>
            <label><b>User Name:</b></label>
            <input type=""text" name="username" placeholder="Enter User name" required><br><br><br>
            <label ><b> Password:</b></label>
            <input type="password" name="password" placeholder="Enter Password" required><br><br><br>
            
            <div class="container signin">
                <p>Already have an account? <a href="/loginlink">Sign in</a>.</p>
              </div>
            
            <button type="submit" class="registerbtn">Register</button>
            </form>




    </fieldset>

</div>


</BODY>



</html>